* {
    margin: 0%;
    padding: 0%;
}

html, body {
    width: 100%;
    height: 100%;
}

.background { 
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

.card {
  border-radius: 15px;
}

.btn-grad {
  background-image: linear-gradient(to right, #50C9C3 0%, #96DEDA  51%, #50C9C3  100%)
}

.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

@media (max-width: 500px) {
  .btn-grad {
    font-size: 12px;
    padding: 20px!important;
  }
}

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.success-card {
  display: none;
  font-size: 20px;
}

.message-error {
  color: red;
}

